.title {
  font-size: 1.2em;
}

.content {
  width: 80%;
  margin: 0.5em auto;
  // height: 100%;
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}