<h1>Teilnehmer</h1>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput [formControl]="filter" />
  @if (filter.value) {
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="filter.setValue('')"
  >
    <img src="assets/close_black_24dp.svg" alt="close" />
  </button>
  }
</mat-form-field>

<table mat-table matSort [dataSource]="tableData" class="mat-elevation-z4">
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
    <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
    <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
  </ng-container>

  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Zelt</th>
    <td mat-cell *matCellDef="let element">{{ element.group }}</td>
  </ng-container>

  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef>Guthaben</th>
    <td mat-cell *matCellDef="let element">
      {{ element.credit | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="deposit">
    <th mat-header-cell *matHeaderCellDef>Einzahlen</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="secondary" (click)="element.deposit()">
        <img src="assets/savings_black_24dp.svg" alt="close" />
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="secondary" (click)="element.details()">
        <img src="assets/more_horiz_black_24dp.svg" alt="close" />
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="secondary" (click)="element.edit()">
        <img src="assets/edit_black_24dp.svg" alt="close" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedCols"></tr>
</table>
<div class="add-button">
  <button mat-raised-button color="accent" (click)="openNewDialog()">
    Hinzufügen
  </button>
</div>
