<mat-card class="shelf">
  @for (category of byCategory$ | async; track category) {
  <div class="category">
    <h2 class="mat-h2">{{ category.title }}</h2>
    @for (article of category.articles; track article) {
    <div id="{{ article.id }}">
      <button mat-raised-button color="primary" (click)="addClick(article)">
        <span class="name">{{ article.name }}</span>
        <span class="mat-body">{{ article.price | currency }}</span>
      </button>
    </div>
    }
  </div>
  }
</mat-card>
