<div class="picker">
  <mat-form-field>
    <input type="text" matInput placeholder="Teilnehmer" aria-label="Teilnehmer" [matAutocomplete]="auto"
      [formControl]="customerCtrl" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="customerCtrl.value" mat-icon-button (click)="clearButtonClick()" matSuffix 
      aria-label="clear">
    <img src="assets/close_black_24dp.svg" alt="close">
    </button>
    <mat-hint *ngIf="selected$ | async">{{(selected$ | async).details}}</mat-hint>
  </mat-form-field>
</div>
