<div class="picker">
  <mat-form-field>
    <input type="text" matInput placeholder="Teilnehmer" aria-label="Teilnehmer" [matAutocomplete]="auto"
      [formControl]="customerCtrl" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (item of filteredOptions | async; track item) {
      <mat-option [value]="item">
        {{ item }}
      </mat-option>
      }
    </mat-autocomplete>
    @if (customerCtrl.value) {
    <button mat-icon-button (click)="clearButtonClick()" matSuffix aria-label="clear">
      <img src="assets/close_black_24dp.svg" alt="close" />
    </button>
    } @if (selected$ | async) {
    <mat-hint>{{ (selected$ | async).details }}</mat-hint>
    }
  </mat-form-field>
</div>